.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.formInput {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
    
.formButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.formButtonContainer {
    width: 100%;
    margin: 10px;
}