.container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
    margin: 10px;
}

.formInput {
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
    
.formButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.formButtonContainer {
    width: 100%;
    margin: 10px;
}

td, th {
    text-align: center;
}

.chartContainer {
    display: flex;
    flex-direction: row;
}

.maxmin {
    height: 150px;
    display: flex;
    flex-direction: column;
}

.min {
    margin-top: 110px;
}

svg {
    height: 150px;
    width: 250px;
}

td:first-of-type > div:first-of-type {
    height: 120px;
    width: 150px;
}

.detailstrue {
    position: absolute;
    border-radius: 10px;
    background-color: #eee;
    width: 70%;
    height: 70%;
    margin-top: -350px;
    padding: 20px;
    border: 1px gray solid;
    z-index: 10;
}

.detailsContainer {
    width:0;
    height:0;
    margin:0;
    padding:0;
}

.details h2 {
    margin: 10px 0;
}

.detailsTable td {
    width: 14.286%;
}

.tableTitle {
    width: 100%;
    text-align: center;
}